# GOOD LUCK!

**1. Write the code to display the result as "You must believe in yourself" for the list a = ["You","must","believe","in","yourself"].**

In [ ]:
a = ["You","must","believe","in","yourself"]
for word in a:
  print(word,end=" ")

You must believe in yourself

**2. Ratings = (14, 9, 60, 52, 10, 18, 99, 76, 2).    Sort this tuple in descending order and display the result. Then reverse the element of this tuple and display the result.**

In [ ]:
Ratings = (14, 9, 60, 52, 10, 18, 99, 76, 2)
b=sorted(Ratings,reverse=True)
c=tuple(b)
print(c)

(99, 76, 60, 52, 18, 14, 10, 9, 2)

**3. Get a word from the user and write the code to display the vowels in that word.**

In [ ]:
word=input('Enter the word: ')
vowels=['a','ı','o','u','e','ə','i','ö','ü']
vowel_list=[]
for i in word:
  if i.lower() in vowels:
    vowel_list.append(i)
print(vowel_list)

Enter the word: Mollanəsrəddinləşdirilmişləndənsinizmi
['o', 'a', 'ə', 'ə', 'i', 'ə', 'i', 'i', 'i', 'ə', 'ə', 'i', 'i', 'i']

**4. Write code to display the ages of customers older than 65 in a list named 'customer' using the following list:
ages = [30, 21, 67, 49, 78, 29, 57, 27, 20, 18].**

In [ ]:
ages = [30, 21, 67, 49, 78, 29, 57, 27, 20, 18]
customer = [i for i in ages if i > 65]
print('Costumer: ', costumer)

Costumer:  [67, 78]

**5. Get a full name from the user (for example: Seval Hüseynzade Hüseyn qızı) and write the code to display surname.**

In [ ]:
full_name=input('Enter your full name: ')
surname=full_name.split()[1]
print(surname)

Enter your full name: Seymur Abdullayev Rəfael oğlu
Abdullayev