**1. Find maximum and minimum number of numbers list.**

**numbers = [23, 67, 45, 98, 43, 21, 76, 77, 65].**

**Use for loop.**

In [ ]:
numbers = [23, 67, 45, 98, 43, 21, 76, 77, 65]
maximum=numbers[0]
minimum=numbers[0]
for i in numbers:
  if i > maximum:
    maximum=i
  if i < minimum:
    minimum=i
print(maximum)
print(minimum)

98
21

Nested tuple: A tuple can contain another tuple as well as other more complex data types. This process is called 'nesting'.Â¶

**2. Use slicing to obtain indexes 3, 4 and 5.            
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)), 7.5, 0)**

In [ ]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)), 7.5, 0)
print(NestedT[3],NestedT[4],NestedT[5])

(3, 4) ('disco', (1, 2)) 7.5

**3. Create a dictionary named Dict with he following details:**

**Keys are key1, key2, key3, key4, key5.**

**Values are {1,2,[3,3,3],(4,4,4),5} corresponding to the keys.**

In [ ]:
Dict={'key1':1, 'key2':2, 'key3':[3,3,3], 'key4':(4,4,4), 'key5':5}
print(Dict)

{'key1': 1, 'key2': 2, 'key3': [3, 3, 3], 'key4': (4, 4, 4), 'key5': 5}

**4. Delete first and last elements by key.**

In [ ]:
Dict={'key1':1, 'key2':2, 'key3':[3,3,3], 'key4':(4,4,4), 'key5':5}
first_key=list(Dict.keys())[0]
last_key=list(Dict.keys())[-1]
Dict.pop(first_key) and Dict.pop(last_key)
print(Dict)

{'key2': 2, 'key3': [3, 3, 3], 'key4': (4, 4, 4)}

**5. set1 = set(["Thriller", 'AC/DC', 'Back in Black'])**

**set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])**

**a) Find the intersections;**

**b) Find the union of two sets;**

**c) Find the difference in set1 but not set2;**

**d) Find the symmetric difference.**

In [ ]:
set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
#a)
intersection= set1 & set2
print(intersection)

{'Back in Black', 'AC/DC'}

In [ ]:
set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
set2 = set(["AC/DC", "Back in Black", "The Dark Side of the Moon"])
#a
intersection = [word for word in set1 if word in set2]
print(set(intersection))

{'Back in Black', 'AC/DC'}

In [ ]:
set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
#b
union_sets = set1 | set2
print(union_sets)

{'The Dark Side of the Moon', 'Thriller', 'Back in Black', 'AC/DC'}

In [ ]:
set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
#c
difference_in_set1_but_not_set2 = set1 - set2
print(difference_in_set1_but_not_set2)

{'Thriller'}

In [ ]:
set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
#d
symmetric_difference = set1^set2
print(symmetric_difference)

{'The Dark Side of the Moon', 'Thriller'}