**1.  Phone number is +99470-500-97-87 . Print phone number using for loop as +994705009787.**

In [1]:
phone_number='+99470-500-97-87'
for i in phone_number:
  if i=='-':
    continue
  print(i,end='')

+994705009787

**2. The user to enter her/his age, checks if the age is greater than 65, and if so, it breaks out of the loop. Otherwise, it prints the entered age.**

In [4]:
while True:
  her_age=int(input('Enter her age: '))
  if her_age>65:
    print('She is over 65 years old.')
    break
  else:
    print('She is: ', her_age)

Enter her age: 47
She is:  47
Enter her age: 67
She is over 65 years old.

**3. Write a loop to print numbers from 10 to 100 except 25,50,75. Output the result in a line**

In [12]:
for num in range (10, 101):
  if num!=25 and num!=50 and num!=75:
    print(num, end=' ')

10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

**4. Print all even numbers except those that are divisible by 10 out of the first 100 numbers. Use continue function.**

In [8]:

for num in range (1,101):
  if num %2==0:
    if num %10==0:
      continue
    print(num, end=' ')

2 4 6 8 12 14 16 18 22 24 26 28 32 34 36 38 42 44 46 48 52 54 56 58 62 64 66 68 72 74 76 78 82 84 86 88 92 94 96 98

**5. Ask the user to enter a number. Ä°f the input is not a number, print "Please enter a number"  and exit the code. Use try and except.**

In [10]:
try:
  num=float(input('Please enter a number: '))
  print('I entered: ', num)
except ValueError:
  print('Please enter a number: ')

Please enter a number: kjkjkj
Please enter a number: