# Good luck!

**1. Try to correct this error:**
    
    frint("Hello-Python!')

In [1]:
print('Hello_Phyton!')

Hello_Phyton!

**2. Convert 34 to a float.**

In [9]:
float('34')

34.0

**3. Convert 0 to boolean.**

In [10]:
bool(0)

False

**4. Print the data type of the result of: 7 // 3.**

In [2]:
7//3

2

**5. Find the length of the string "Data Science".**

In [3]:
print(len('Data Science'))

12

**6. Print the last element in this string.**

In [5]:
m='Data Science'

In [6]:
print(m[11])

e

**7. Get every second element in the range from index 0 to index 4 in this string.**

In [1]:
m='Data Science'

In [2]:
print(m[0:5:2])

Dt

**8. Convert the variable m to lowercase: m = "I am a minimalist person".**

In [18]:
m='I am a minimalist person'

In [19]:
print(m.lower())

i am a minimalist person

**9. Consider the variable g, and find the first index of the sub-string "snow" and replace the sub-string Mary with Tom.**


g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went
Everywhere that Mary went The lamb was sure to go"

In [4]:
g='Mary had a little lamb Little lamb, little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go'

In [16]:
print(g.replace('Mary','Tom'))

Tom had a little lamb Little lamb, little lamb Tom had a little lamb Its fleece was white as snow And everywhere that Tom went Tom went, Tom went Everywhere that Tom went The lamb was sure to go

In [8]:
d='snow'

In [9]:
print(d[0])

s

**10. In the variable g, split the substring to list.**

In [5]:
g.split()

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Little',
 'lamb,',
 'little',
 'lamb',
 'Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Its',
 'fleece',
 'was',
 'white',
 'as',
 'snow',
 'And',
 'everywhere',
 'that',
 'Mary',
 'went',
 'Mary',
 'went,',
 'Mary',
 'went',
 'Everywhere',
 'that',
 'Mary',
 'went',
 'The',
 'lamb',
 'was',
 'sure',
 'to',
 'go']